RewriteEngine On

# Redirige /clientes a la nueva URL con el parámetro o=clientes
RewriteRule ^clientes$ http://localhost/Servicios%20y%20Procesos/004-Generaci%C3%B3n%20de%20servicios%20de%20red/001-Protocolos%20est%C3%A1ndar%20de%20comunicacio%CC%81n%20en%20red%20a%20nivel%20de%20aplicacio%CC%81n/004.htaccess/api.php?o=clientes [QSA,L]

# Redirige /cliente/ID a la nueva URL con el parámetro o=cliente&id=ID
RewriteRule ^cliente/([0-9]+)$ http://localhost/Servicios%20y%20Procesos/004-Generaci%C3%B3n%20de%20servicios%20de%20red/001-Protocolos%20est%C3%A1ndar%20de%20comunicacio%CC%81n%20en%20red%20a%20nivel%20de%20aplicacio%CC%81n/004.htaccess/api.php?o=cliente&id=$1 [QSA,L]
